<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NEMWallet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F1159D81D38FC5700E13EE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F76D04E1F2657AD00D9694D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3557FF1A39D3B900AFA5FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3558171A39D3BC00AFA5FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
