<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>File</key>
			<string>io.nem.Wallet.LicensePlist/Alamofire</string>
			<key>Title</key>
			<string>Alamofire</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>io.nem.Wallet.LicensePlist/AlamofireNetworkActivityIndicator</string>
			<key>Title</key>
			<string>AlamofireNetworkActivityIndicator</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>io.nem.Wallet.LicensePlist/CoreStore</string>
			<key>Title</key>
			<string>CoreStore</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>io.nem.Wallet.LicensePlist/CryptoSwift</string>
			<key>Title</key>
			<string>CryptoSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>io.nem.Wallet.LicensePlist/keychain-swift</string>
			<key>Title</key>
			<string>keychain-swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>io.nem.Wallet.LicensePlist/Moya</string>
			<key>Title</key>
			<string>Moya</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>io.nem.Wallet.LicensePlist/ObjectMapper</string>
			<key>Title</key>
			<string>ObjectMapper</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>io.nem.Wallet.LicensePlist/ReactiveSwift</string>
			<key>Title</key>
			<string>ReactiveSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>io.nem.Wallet.LicensePlist/Result</string>
			<key>Title</key>
			<string>Result</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>io.nem.Wallet.LicensePlist/RxSwift</string>
			<key>Title</key>
			<string>RxSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>io.nem.Wallet.LicensePlist/SwiftyJSON</string>
			<key>Title</key>
			<string>SwiftyJSON</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
