<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentServer</key>
	<dict>
		<key>port</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>address</key>
		<string></string>
	</dict>
	<key>wallets</key>
	<array>
		<dict>
			<key>login</key>
			<string>user1</string>
			<key>password</key>
			<string>password1</string>
			<key>mail</key>
			<string>address1@i.ua</string>
			<key>picture</key>
			<string>/documents/user1/picture1.png</string>
		</dict>
		<dict>
			<key>login</key>
			<string>user2</string>
			<key>password</key>
			<string>password2</string>
			<key>mail</key>
			<string>address2@i.ua</string>
			<key>picture</key>
			<string>/documents/user2/picture2.png</string>
		</dict>
		<dict>
			<key>login</key>
			<string>user3336fgfgfgfgfggfgfggfgfgfgfgfgfgfgfgfgfgfgfgfgfgf</string>
			<key>password</key>
			<string>password3</string>
			<key>mail</key>
			<string>address3@i.ua</string>
			<key>picture</key>
			<string>/documents/user2/picture3.png</string>
		</dict>
	</array>
	<key>servers</key>
	<array>
		<dict>
			<key>name</key>
			<string>MyFirstServer</string>
			<key>address</key>
			<string>10.100.10.1</string>
			<key>port</key>
			<string>7890</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MySecondServer</string>
			<key>address</key>
			<string>10.100.10.2</string>
			<key>port</key>
			<string>7890</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MyThirdServer</string>
			<key>address</key>
			<string>10.100.10.3</string>
			<key>port</key>
			<string>7890</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MyFourthServer</string>
			<key>address</key>
			<string>10.100.10.4</string>
			<key>port</key>
			<string>7890</string>
		</dict>
	</array>
	<key>account</key>
	<dict>
		<key>pin</key>
		<string></string>
	</dict>
</dict>
</plist>
